.main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  row-gap: 20px;
  padding: 30px;
}

.scores {
  display: flex;
  column-gap: 50px;
  font-size: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  height: max-content;
  row-gap: 30px;
  column-gap: 30px;
}

.rules {
  text-align: center;
}